@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
html{
  color: #000;
  background-color:#5c16c424;
}
  

.container {
  margin: 150px 400px;
}

.main h1{
  margin: 20px;
  text-align: center;
  color: #3a3a3a;
}
.main h2{
  margin: 20px;
  font-size: large;
  font-weight: 400;
  text-align: center;
  color: #3a3a3a;
}
.main-pg{
  margin-top: 40%;
}

.active {
  color: var(#7393B3);
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.241);
  margin: 50px auto;
}

.content-table thead tr {
  background-color: #5c16c4;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: rgb(240, 224, 255);
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

td, th {
  text-align: center;
}

.searchbar{
  margin: 40px 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.searchbar__input {
  width: 350px;
  padding: 15px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}
.searchbar__input:focus-visible {
  border: none;
  outline: none;
}

.inputbar{
  margin: 15px 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
}
.inputbar__input {
  width: 350px;
  padding: 15px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}
.inputbar__input:focus-visible {
  border: none;
  outline: none;
}





.nav_btn {
  cursor: pointer;
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  color: var(#fff);
  visibility: hidden;
  opacity: 0;
}

.add-btn{
  border-radius: 10px;
  background: #fff;
  padding: 7px 15px;
  margin: 0.5rem 2rem;
  color: #5c16c4;
  border: 2px solid #5c16c4;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  width: 150px;
}
.add-btn:hover{
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: #5c16c4;
  border: 2px solid #5c16c4;
  color: #FFF;
}
.form-label{
  font-size: 15px;
}
.form-post{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formule{
  padding: 30px;
}
.finished{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  margin: 20px 0;
  padding: 15px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  background: #fff;
  align-items: center;
}

.finished h2{
  margin: 0;
  padding: 0;
}

.finished input[type="checkbox"]{
  height: 20px;
  width: 20px;
  color:#5c16c4;
}

@media only screen and (max-width: 1440px){
  .container {
    margin: 150px auto;
  }
}

@media only screen and (max-width: 768px){
  .nav_btn{
    visibility: visible;
    opacity: 1;
  }
  .toggled {
    background: #36454F;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #fff;
    transition: 1s;
    transform: translateY(-100vh);
  }
  .nottogled{
    transform: none;
  }

}